@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';



header, footer, nav {
    display: block;
}
footer {
    padding: 36px 0px 10px 0px;
}

html {
    height: 100%;
    background-color: #f8f8f8;
}

body {
    min-height: 100%;
    margin:0 auto;
    max-width: 1024px;
    background-color: #f8f8f8;
    font-family: 'Montserrat';
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 35px;
}

.p_title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 0px;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 0px;
    color: white;
}

.subtitle {
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    color: white;
    text-align: center;
}

.team-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #41434c;
    text-align: left;
}

#about {
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    width: 530px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    color: #6B6484;
    height: 30px;
    line-height: 24px;
}

h4 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    height: 40px;
}

#author {
    font-size: 14px;
    font-weight: 300;
    color: #6B6484;
    line-height: 45px;
    height: 40px;
}


p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.project-view {
    text-align: center;
}


/* -----------------start of header--------------- */

.top {
    text-align: center;
    line-height: 32px;
    background-color: #f8f8f8;
    
}

.top-text {
    vertical-align: middle;
    font-size: 12px;
    color: #aaaaaa;
    font-family: 'Montserrat';
    font-weight: 300;
}

.header {
    background: white;
    display: flex;
    width: 100%;
    height: 60px;
    border: 1px solid #ECECEC
}


.header-inner {
    
    display: inline;
    
    
}

#logo {
    width: 140px;
    height: 34px;
    background: url(img/opensource_logo.svg) no-repeat center;
    margin-left: 14px;
    margin-top: 13px;
}

#fynd-logo {
    width: 63px;
    height: 34px;
    background: url(img/fynd_logo.svg) no-repeat center;
    margin-right: 20px;
    margin-left: 20px;
}





.nav{
    display: flex;
    text-align:center;
    line-height: 34px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

}

#menu {
    margin-top: 11px;
    vertical-align: middle;
    font-size: 12px;
    color: #aaaaaa;
    font-family: 'Montserrat';
    font-weight: 300;
}
.nav a {

    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    display:inline-block;
    padding:10px;
    color: #41434c;
}

.nav a:hover {
    color: #a88ace;
}




ul {
    display: block;
    line-height: 30px;
    color: #41434c;
    list-style-type: circle;
    font-weight: 300;
}

#gofynd-redirect {
    display: inline;
    width: 130px;
    height: 34px;
    font-size: 14px;
    font-weight: 300;
    color: #9b9b9b;
    text-decoration: none;
    line-height: 34px;
}
#gofynd-redirect:hover{
    color: #a88ace;
}



#banner{
        background-color: #a88ace;
		color: white;
        height: 300px;
        display: block;
        background: url(img/landing_banner.png) no-repeat center;
}

.p_banner{
        background-color: #a88ace;
		color: white;
		text-align: center;
        height: 300px;
        padding-top: 30px;
}

.inner {
    padding-top: 60px;
    padding-left: 70px;
}


.content-title {
    font-size: 24px;
    color: #6B6484;
    text-align: center;
    padding-top: 40px;
    display: block;
    line-height: 74px;
    font-weight: 700;
}


.projectcard {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.teamcard {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.blogcard {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.git {
    display: flex;
    text-align:center;
    line-height: 34px;
    flex: 1;
    justify-content: flex-start;
    border-bottom: 1px solid #ECECEC
}
.git_data {
    width: 25%;

}

.p_wrapper {
    width: 33%;
    background-color: white;
    border: 1px solid #ECECEC;
}

.m_wrapper {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: white;
}

.m_container {
    padding: 0px 0px 0px 10px;
}

.git_value {
    line-height: 30px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.git_field {
    font-size: 12px;
    font-weight: 300;
    color: #9B9B9B;
    line-height: 30px;
    height: 22px;

}
h5 {
    font-size: 14px;
    font-weight: 400;
    color: #6B6484;
    height: 0px;
    line-height: 25px;
}

h6 {
    font-size: 12px;
    font-weight: 300;
    color: #9B9B9B;

}

.profile_pic {
    height: 40px;
    width: 40px;
}

.t_wrapper{
    width: 510px;
    background-color: white;
    border: 1px solid #ECECEC;
}



.b_wrapper {
    width: 49%;
    background-color: white;
    border: 1px solid #ECECEC;
}

.major {
    height: 116px;
    margin: 20px 0px;
}

.p_container {
    margin: 0px 36px;
}

.t_container {
    padding: 2px 60px;
    height: 190px;
}
.team_container {
    padding-top: 60px;
    padding-left: 70px;
}


.p_special {
    height: 50px;
    
}

t_special{
    height: 50px;
}

.b_container {
    margin: 0px 36px;
}

.b_special {
    height: 50px;
    padding: 0px 36px;
}
.view {
    color: #A88ACE;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.view:hover {
    color: #9A5ED0;
}

.view_all {
    display: block;
    text-align: center;
    padding: 40px 0px;
}


.roles {
    display: block;
    text-align: center;
    padding: 24px;
}
.view_roles {
    background-color: #00abaa;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: white;
    font-family: 'Montserrat';
    outline: none;
    cursor: pointer;
}

.view_roles:hover {
    background-color: #04919a;
}

.view_rest {
    background-color: #A88ACE;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: white;
    font-family: 'Montserrat';
    outline: none;
    cursor: pointer;
}


.view_rest:hover {
    background-color: #9778BF;
}

.view_team {
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    background-color: #df5e9a;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: white;
    font-family: 'Montserrat';
    outline: none;
    cursor: pointer;
}

.view_team:hover {
    background-color: #d51c86;
}


.view_all_link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: white;
    font-family: 'Montserrat';
}

.team {
    height: 520px;
    background-color: #A88ACE;
    color: white;
    margin-top: 40px;
    background: url(img/team_banner.png) no-repeat center;

}



/*----------------------------footer------------------------*/

.jobs {
    background-color: white;
    border: 1px solid #ECECEC;
    align-items: center;
}

.hiring {
    text-align: center;
    line-height: 53px;
    height: 38px;
    font-size: 20px; 
    color: #6B6484;
    font-family: 'Montserrat';
    font-weight: 700;
}

.footer_body{
    background-color: white;
}
.links {
    display: block;
    font-size: 12px;
    padding: 20px 0px;
    border: 1px solid #ECECEC;
}

.links1  {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.links2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

a{
    text-decoration: none;
    font-weight: 300;
    color: cornflowerblue;
}

.post_link{
    color: cornflowerblue;
}
.footer_link {
    width: 7%;
    text-align: center;
    
}
.black_link {
    color: #41434c;
}

.download{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.footer_bottom{
    text-align: center;
    line-height: 36px;
    font-size: 12px;
    font-weight: 300;
    color: #9b9b9b;
}
/* post content */


.post-content {
    background-color: white;
    border: 1px solid #ECECEC;
    
}

#fork_count{
    height: 100%;
    display: block;
}

.post-body {
    padding: 20px 0px;
    position: relative;
    left: 20%;
    width: 60%;

}

.github_link {
    background-color: white;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #ECECEC;
    display: flex;
    align-items: center;
    width: 60%;
    position: relative;
    left: 20%;
}

.external_link {
    background-color: white;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #ECECEC;
    display: flex;
    align-items: center;
    width: 60%;
    position: relative;
    left: 20%;
}

.github {
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #6B6484;
    font-family: 'Montserrat';
    font-weight: 700;
}

.github_button {
    display: block;
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 24px;
}

pre {
    background-color: #F8F8F8;
    padding: 30px;
}

code {
    background-color: #F8F8F8;
    padding: 30px;
}

