<!DOCTYPE html>
<html>
<!----------------------------Start of Footer---------------------------->
    <footer>
        <div class="jobs">
            <div class="hiring">Planning to work with new cutting edge tools?</div>
            <span class="roles">
    <button class="view_roles" onclick="window.open('http://info.gofynd.com/careers','_blank')" type="button">JOIN US</button>

            </span>
        </div>
    <div class="footer_body">
      <div class="links">
            <div class="links1">
                <div class="footer_link">
                    <a  class="black_link" href="{{ site.baseurl }}/" >Home</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/careers" target="_blank">Careers</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="https://blog.gofynd.com/" target="_blank">Blog</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/contact" target="_blank">Contact us</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="https://github.com/gofynd" target="_blank">Github</a>
                </div>
            </div>

        </div>

    </div>
        
        <div class="footer_bottom">
            <p>#MadeInIndia | &copy; 2017 Shopsense Retail Technologies</p>
        </div>
    
    </footer>
    
    <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-66618425-13', 'auto');  ga('send', 'pageview'); </script>
    
<!----------------------------End of Footer---------------------------->

</html>
