<!DOCTYPE html>
<html>
<!----------------------------Start of Footer---------------------------->
    <footer>
        <div class="jobs">
            <div class="hiring">Planning to work with new cutting edge tools?</div>
            <span class="roles">
    <button class="view_roles" onclick="window.open('http://info.gofynd.com/careers.html','_blank')" type="button">JOIN US</button>

            </span>
        </div>
    <div class="footer_body">
      <div class="links">
            <div class="links1">
                <div class="footer_link">
                    <a  class="black_link" href="{{ site.baseurl }}" >Home</a>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/careers" target="_blank">Careers</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="https://blog.gofynd.com/" target="_blank">Blog</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/contact" target="_blank">Contact us</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="https://github.com/gofynd" target="_blank">Github</a>
                </div>
            </div>

        </div>

    </div>
        
        <div class="footer_bottom">
            <p>#MadeInIndia | &copy; 2017 Shopsense Retail Technologies</p>
        </div>
    
    </footer>
    
<!----------------------------End of Footer---------------------------->

</html>
