<!DOCTYPE html>
<html>
<!----------------------------Start of Footer---------------------------->
    <footer>
        <div class="jobs">
            <div class="hiring">Planning to work with new cutting edge tools?</div>
            <span class="roles">
    <button class="view_roles" onclick="location.href='http://info.gofynd.com/careers.html'" type="button" target="_blank">FYND ROLES</button>

            </span>
        </div>
    <div class="footer_body">
      <div class="links">
            <div class="links1">
                <div class="footer_link"><a  class="black_link" href="index.html" >Home</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/careers.html">Careers</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="https://blog.gofynd.com/">Blog</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="http://info.gofynd.com/contact.html">Contact us</a>
                </div>
                <div class="footer_link">
                    <a  class="black_link" href="https://github.com/gofynd">Github</a>
                </div>
            </div>

        </div>

    </div>
        
        <div class="footer_bottom">
            <p>#MadeInIndia | &copy; 2017 Shopsense Retail Technologies</p>
        </div>
    
    </footer>
    
<!----------------------------End of Footer---------------------------->

</html>
