
<!----------------------------Start of Header---------------------------->
    <div class="top">
                <span class="top-text">
                    <span>Engineering at Fynd</span>
                </span>
    </div>

    <div class="header">

            <a href="{{ site.baseurl }}/"><div id="logo"></div></a>

        <div class="nav">
            <div><a href="{{ site.baseurl }}/">HOME</a></div>
             <div><a href="{{ site.baseurl }}/projects">PROJECTS</a></div>
             <div><a href="{{ site.baseurl }}/blog">BLOG</a></div>
             <div><a href="{{ site.baseurl }}/team">TEAM</a></div>
             <div><a href="https://www.gofynd.com/" id="gofynd-redirect" target="_blank">
                 <div id="fynd-logo"></div></a></div>
        </div>
    </div>

<!---

<div><a href="https://www.gofynd.com/" id="gofynd-redirect" target="_blank">gofynd.com</a></div>

--->
